<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">

    <!-- This <ros2_control> block tells ros2_control (and the simulator bridge) which hardware/system plugin to load 
     for your robot — and it chooses between an Ignition-compatible system or a Gazebo-compatible system 
     depending on the is_ignition flag.-->
    <ros2_control type="system" name="RobotSystem">

        <xacro:property name="PI" value="3.14159265359" />

        <xacro:if value="$(arg is_ignition)">     
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="joint_1">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_2">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_3">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_4">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">0.0</param>
            </command_interface>
            <state_interface name="position"/>
            <!-- <state_interface name="velocity"/>
            <param name="position_proportional_gain">1000.0</param>
            <param name="position_derivative_gain">10.0</param>
            <param name="position_integral_gain">1.0</param> -->
        </joint>

        <joint name="joint_5">
            <param name="mimic">joint_4</param>
            <param name="multiplier">-1</param>
        </joint>

    </ros2_control>

</robot>    